<%= form_for(:session, url: sessions_path, html: { class: "form-signin margin-top-50" }) do |f| %>

	<h2 class="form-signin-heading"><%= T("sign_in") %></h2>

	<%= f.email_field :email, { class: "form-control", placeholder: T("email"), autofocus: true } %>
	<%= f.password_field :password, { class: "form-control", placeholder: T("password") } %>

	<%= f.submit T("sign_in"), { class: "btn btn-lg btn-primary btn-block" } %>
	<%= link_to T("sign_up"), new_user_path, { class: "btn btn-lg btn-default btn-block" } %>

<% end %>