<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><%= T("users") %></h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th width="1%">#</th>
						<th width="45%"><%= T("name") %></th>
						<th width="45%"><%= T("email") %></th>
						<th width="9%" colspan="2"></th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= user.name %></td>
							<td><%= user.email %></td>
							<td><%= link_to T("edit"), edit_user_path(user) %></td>
							<td><%= link_to T("destroy"), user, method: :delete, data: { confirm: "Are you sure?" } %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>